* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
  overflow: hidden;
}

.App {
  text-align: center;
}

.icon {
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat scroll 7px 7px #f7f7f7;
  background-size: 30px;
}

input {
  margin: 4px 0;
  padding: 10px;
  border: 1px;
  border-color: #2c3e50;
  border-radius: 25px;
  font-size: 1rem;
  color: #2c3e50;
  outline: 0;
  width: 70%;
}

.button-find {
  margin: 4px 0;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 20%;
  color: #2c3e50;
  box-shadow: #ffffff1c 5px 6px 16px 0px;
  transition: 0.4s;
}

.button-find:hover {
  color: white;
  background-color: #2e5174;
  box-shadow: #ffffff1c 5px 6px 16px 0px;
  transform: scale(1.05);
  transition: 0.4s;
}

.App-main {
  background-color: #282c34;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.section-1 {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;
  min-width: 100%;
  min-height: 40vh;
}

.formulaire {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
}

.data-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#author {
  margin: 5px 0;
}

.App-link {
  color: #61dafb;
}

video {
  border-radius: 15px;
  height: auto;
  box-shadow: #ffffff1c 5px 6px 16px 0px;
}

footer {
  max-height: 5vh;
  background-color: #282c34;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
  .formulaire {
    flex-direction: column;
    align-items: center;
  }

  .button-find {
    margin-top: 10px;
  }

  video {
    width: 350px;
    height: auto;
  }
}
