* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
  overflow: hidden;
}

.App {
  text-align: center;
}

input {
  margin: 4px 0;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  background: #f7f7f7;
  outline: 0;
  width: 70%;
}

.button-find {
  margin: 4px 0;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 20%;
  color: #2c3e50;
}

.App-main {
  background-color: #282c34;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.section-1 {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;
  min-width: 100%;
  min-height: 40vh;
}

.formulaire {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
}

.data-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#author {
  margin: 5px 0;
}

.App-link {
  color: #61dafb;
}

video {
  border-radius: 15px;
  width: 650px;
  box-shadow: #ffffff1c 5px 6px 16px 0px;
}

footer {
  max-height: 5vh;
}

@media screen and (max-width: 1000px) {
  .App-main {
    flex-direction: column;
  }

  .section-1 {
    min-height: 10vh;
  }
}
